.countries {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .title {
    padding-bottom: 17px;
  }

  .groupMedals {
    display: flex;
    padding: 30px 0 0 0;
    .itemMedals {
      display: flex;
      flex-direction: column;
      align-items: center;
      border-right: 1px solid #fff;
      &:nth-child(1) {
        border-left: 1px solid #fff;
      }
      span.name {
        padding: 0px 11px 20px;
        border-bottom: 1px solid #fff;
      }
      span {
        padding-top: 15px;
        font-size: 1.375rem;
        color: #fff;
      }
    }
  }

  .groupBtnMedals {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-top: 44px;
    .btn {
      display: flex;
      background-color: transparent;
      align-items: center;
      outline: none;
      border: 2px solid #fff;
      padding: 8px 14px;
      border-radius: 15px;
      width: 100%;
      gap: 14px;
      transition: all 0.4s ease;
      background-color: #ffffff29;

      .lolo_btn {
        max-width: 40px;
        img {
          width: 100%;
        }
      }

      .title_btn {
        font-size: 1.3125rem;
        color: #fff;
        font-family: "Paris2024";
      }

      &:hover {
        cursor: pointer;
        transition: all 0.4s ease;
        box-shadow: 0px 0px 6px #fff;
        transform: translateY(-3px);
      }
    }
  }
}
