.countries {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .title {
    font-size: 2.625rem;
    color: #fff;
    padding-bottom: 35px;
  }

  .group_countries {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;

    .btn {
      display: flex;
      background-color: transparent;
      align-items: center;
      outline: none;
      border: 2px solid #fff;
      padding: 8px 14px;
      border-radius: 15px;
      width: 100%;
      gap: 14px;
      transition: all 0.4s ease;

      .lolo_btn{
        max-width: 40px;
        img{
          width: 100%;
        }
      }

      .title_btn {
        font-size: 1.3125rem;
        color: #fff;
        font-family: "Paris2024";
      }

      &:hover {
        cursor: pointer;
        transition: all 0.4s ease;
        box-shadow: 0px 0px 6px #fff;
        transform: translateY(-3px);
      }
    }
  }
}

.logo {
  width: 100%;
  max-width: 123px;

  img {
    width: 100%;
    transition: all 0.4s ease;
  }
}
