.disciplines {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  .title {
    padding-bottom: 56px;
    span {
      font-size: 2.625rem;
      color: #fff;
    }
  }
  .groupBtnDisciplines {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
    max-height: 545px;
    overflow-y: auto;
    padding: 10px 10px 0 10px;

    .itemBtn {
      display: flex;
      background-color: transparent;
      align-items: center;
      outline: none;
      border: 2px solid #fff;
      padding: 12px 14px;
      border-radius: 15px;
      gap: 14px;
      transition: all 0.4s ease;
      background-color: #ffffff29;
      .imgDisc {
        max-width: 40px;
        img {
          width: 100%;
        }
      }

      .nameDisc {
        font-size: 1.3125rem;
        color: #fff;
        font-family: "Paris2024";
      }

      &:hover {
        cursor: pointer;
        transition: all 0.4s ease;
        box-shadow: 0px 0px 6px #fff;
        transform: translateY(-6px);
      }
    }
  }
}
